section {
    margin: 0.5em;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#header {
    font-size: x-large;
}

#header::before {
    content: url("/heroquest-character-sheet/icons/header_axe.svg");
    width: 2em;
    display: inline-block;
    transform: scaleX(-1) rotate(-32deg);
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#header::after {
    content: url("/heroquest-character-sheet/icons/header_axe.svg");
    width: 2em;
    display: inline-block;
    transform: rotate(-32deg);
    margin-left: 0.5em;
}

#general {
    display: grid;
    width: auto;
    margin: 0.5em;
    grid-template-columns: auto 80%;
    grid-row-gap: 0.5em;
    place-content: start left;
}

#general label {
    margin: auto 0 auto auto;
}


#general input {
    margin: 0.5em;
    font-size: x-large;
    border-radius: 4px;
}

#characterValues .numericFieldLabel {
    display: flex;
    align-items: center;
}

#attackDiceLabel::before {
    content: url("/heroquest-character-sheet/icons/hq_skull.svg");
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}

#defendDiceLabel::before {
    content: url("/heroquest-character-sheet/icons/hq_white_shield.svg");
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}


#bodyPointsLabel::before {
    content: url("/heroquest-character-sheet/icons/body_points.svg");
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}

#mindPointsLabel::before {
    content: url("/heroquest-character-sheet/icons/mind_points.svg");
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}

#goldCoinsLabel::before {
    content: url("/heroquest-character-sheet/icons/gold_coins.svg");
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}


#questsLabel::before {
    content: url("/heroquest-character-sheet/icons/quests_scroll.svg");
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
}

.numericField {
    margin: 0.5em;
}

.numericFieldInput {
    display: inline-block;
    font-size: x-large;
    border-radius: 4px;
    width: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.baseNumericFieldInput {
    display: inline-block;
    font-size: large;
    border-radius: 4px;
    width: 2em;
    vertical-align: bottom;
    margin-left: -0.5em;
    text-align: center;
}

.inputs {
    display: inline-block;
}

#characterValuesBase {
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center left;
}

#characterValuesBase .minus,
#characterValuesBase .plus {
    cursor: pointer;
    display: inline;
    padding: 0.9em;
    margin: 0.5em;
    border-radius: 4px;
    font-size: 1em;
}

#characterValues .numericFieldLabel {
    grid-column: 1 / span 3;
}

#inventory {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    place-content: center left;
    grid-row-gap: 0.5em;
}

#inventory button,
#inventory .actionButton button {
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    width: 2em;
    height: 2em;
    font-size: 1em;
    text-align: center;
}

#inventory .item {
    flex-wrap: wrap;
    max-width: 20em;
    margin: auto .5em auto .5em;
}


#inventory .input-box {
    width: 3em;
    text-align: center;
    border: none;
    font-size: 1em;
    outline: none;
    margin: 0.3em auto auto auto;
}

/* Hide the number input spin buttons */

#characterValues input[type="number"] {
    -moz-appearance: textfield;
}

#characterValues input[type="number"]::-webkit-inner-spin-button,
#characterValues input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inventory .input-box::-webkit-inner-spin-button,
#inventory .input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inventory .input-box[type="number"] {
    -moz-appearance: textfield;
}

#newItemForm input {
    display: inline-block;
    font-size: large;
    border-radius: 4px;
    max-width: 10em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
}

#newItemForm {
    display: flex;
}

#newItemForm label {
    margin: auto .5em auto .5em;
}

#newItemForm button {
    padding: 0.5em;
    margin: 0.5em;
    vertical-align: super;
    border-radius: 4px;
}

#notes {
    display: flex;
    flex-direction: column;
}

#notes textarea {
    height: 20em;
}